@import "~bootstrap/scss/bootstrap";

html, body {
    height: 100%
}
.main-map {
    position: fixed;
    z-index: 100;
    right: 20px;
    top: 20px;
    box-shadow: 0 0 30px rgba(255,255,255, 0.2);
    border-radius: 10px;
}

.team-item-color-blue {
    background-color: lightblue;
}
.team-item-color-green {
    background-color: rgb(177, 250, 177);
}
.team-item-color-red {
    background-color: rgb(251, 175, 175);
}
.team-item-color-yellow {
    background-color: lightyellow;
}